@charset "UTF-8";

html{box-sizing: border-box}*, *:before, *:after{box-sizing: inherit}img{max-width: 100%; height: auto;}img.alignright{float:right;margin:0 0 1em 1em}img.alignleft{float:left;margin:0 1em 1em 0}img.aligncenter{display:block;margin-left:auto;margin-right:auto}.alignright{float:right}.alignleft{float:left}.aligncenter{display:block;margin-left:auto;margin-right:auto}a, button, input, textarea, select{outline: none!important;}p,ul{margin: 0;}p + p{margin: 2em 0 0 0}p + ul{margin: 2em 0 0 0}ul + p{margin: 2em 0 0 0}ul + h1, p + h1{margin: 1.09375em 0;}ul + h2, p + h2{margin: 1.25em 0;}ul + h3, p + h3{margin: 1.25em 0;}ul + h4, p + h4{margin: 1.5em 0;}ul + h5, p + h5{margin: 1.6666666666666665em 0;}ul + h6, p + h6{margin: 1.875em 0;}.display-t{display:table;width:100%}.display-tc{display:table-cell;vertical-align:middle}

/* =============================================================================
   header
   ========================================================================== */


/* =============================================================================
   AMA builder
   ========================================================================== */
.builder-block + .builder-block{border-top: 1px solid #e5e5e5; margin-top: 2em; padding-top: 2em;}
.builder-block.content-block + .builder-block.content-block{padding-top: 0; border-top: 0;}

/* call to action */
.cta-block .display-tc + .display-tc{padding-left: 2em;}

/* team members */
.team-members .col-sm-4:nth-child(n+4){margin: 2em 0 0 0}
.team-members .col-sm-4:nth-child(3n+1){clear: left;}
	.team-member-img{
		max-width: 9.466666666666667em;
		width: 100%;
		margin: 0 auto 1em auto;
		border: 1px solid #f8f8f8;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		overflow: hidden;
	}
	.team-member-name{font-weight: 500; color: #057ec2; margin: 0 0 0.5em 0}
		.team-member-name small{display: block; font-size: 0.9375em; font-weight: 400; color: #666}
	.team-member-meta{list-style: none; padding: 0; margin: 0;}

/* special content */
.specialcontent-row + .specialcontent-row{margin-top: 4em;}

/* =============================================================================
   mobile header
   ========================================================================== */
.noscroll{overflow: hidden;}
#head-mobile{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: #fff;
	z-index: 9999;
}
.noscroll #head-mobile{background-color: #fff;}
#head-mobile #mobile-logo{
	margin-top: 20px;
	margin-left: 15px;
	display: block;
	width: 146px;
	height: 40px;
	background-image: url(../images/header-logo.png);
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	float: left;
}
body.noscroll #head-mobile #mobile-logo{background-position: 0 100%;}

#head-mobile .top-animate{top: 19px!important;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
#head-mobile .mid-animate{opacity: 0;}
#head-mobile .bottom-animate{top: 19px !important;-webkit-transform: rotate(-225deg);transform: rotate(-225deg);}
#head-mobile .top-menu{top: 14px;}
#head-mobile .mid-menu{top: 19px;}
#head-mobile .bottom-menu{top: 24px;}
#head-mobile .menui{
	width: 24px;
	left: 50%;
	margin-left: -12px;
	height: 2px;
	background: #323232;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
	position: absolute;
}
#head-mobile .icon{
	transition: 0.8s ease;
	z-index: 9999;
	position: absolute;
	height: 43px;
	width: 43px;
	margin: 0px;
	top: 15px;
	right: 15px;
	border: 1px solid #323232;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#head-mobile .icon:hover{border-color: #05afce;}
#head-mobile .icon:hover .menui{background-color: #05afce;}
.mobilenav{
	display: none;
	background-color: rgba(0,0,0,0.75);
	font-family: inherit;
	top: 0;
	left: 0;
	z-index: 9998;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.mobilenav .inner{
	height: 100%;
	overflow-y: auto;	
	background: #fff;
	padding: 75px 15px 90px 15px;
}
.mobile-icons{
	background-color: #003751;
	width: 100%;
	list-style: none;
	padding: 15px 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;	
}
.mobile-icons li{
	display: inline-block;	
	margin: 0 10px;
}
.mobile-icons li a{
	cursor: pointer;
	display: block;
	height: 45px;
	width: 45px;
	line-height: 43px;
	border: 1px solid #f5f5f5;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-indent: -5000px;
	background-position: center center;
	background-repeat: no-repeat;
}
.mobilenav .inner:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.mobile-menu {
	display: inline-block;
	vertical-align: middle;
	font-weight: 300;
	width: 99%;
	font-size: 18px;
}
.noscroll .cart-contents-mobile{display: none!important; visibility: hidden!important;}
.noscroll #head-mobile .icon{border-color: #000!important;}
.noscroll #head-mobile .icon .menui{background-color: #000!important;}

.mobile-menu ul{list-style: none; padding: 0; margin: 0;}
	.mobile-menu li{ margin: 0 auto;}
	.mobile-menu li:first-child > a{border-top: 0; line-height: 26px;}
		.mobile-menu li > a{display: block; line-height: 25px; text-decoration: none; color: #040404; border: none; text-transform: uppercase; padding: 8px 0; position: relative; border-top: 1px solid #f2f2f2;}
			.mobile-menu li.menu-item-has-children{position: relative;}
			.mobile-menu li.menu-item-has-children > a{padding-right: 51px;}
			.mobile-menu li.menu-item-has-children .toggle_submenu{
				content: "\f107";
				text-align: center;
				color: #323232;
				width: 41px;
				height: 42px;
				background-color: #f2f2f2;
				position: absolute;
				top: 0; right: 0;	
				border: 1px solid #f2f2f2;
				font: normal normal normal 14px/1 FontAwesome;
				line-height: 42px;
				z-index: 10;
				cursor: pointer;
			}
		
		.mobile-menu li > a:hover,

		.mobile-menu li.current-menu-item > a,
		.mobile-menu li.current-menu-parent > a,
		.mobile-menu li.current-menu-ancestor > a{color: #05afce;}

.lg-backdrop.in,
.lg-outer.lg-visible{z-index: 99999;}

.mobile-bottom{
	height: 75px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 13px;
	width: 100%;
	background-color: #fff;
}
.mobile-cart a{
	display: inline-block;
    padding-left: 1.8461538461538463em;
    position: relative;
}
	.mobile-cart .cart-contents > span{
	    width: 1.2307692307692308em;
		height: 1.6153846153846154em;
		display: block;
		position: absolute;
		top: -0.4384615384615385em;
		left: 0;
		background-image: url(../images/icons/cart-icon.png);
		background-repeat: no-repeat;
		background-size: cover;	
	}

	#mobile_lang ul{list-style: none; padding: 20px 0; margin: 0;}
		#mobile_lang li{display: inline-block; margin: 0 5px;}
		#mobile_lang li > span{font-weight: 700;}
		

.mobile-menu .sub-menu{border-top: 1px solid #f2f2f2; display: none;}		
.mobile-menu .sub-menu > li > a{padding-left: 15px;}
.mobile-menu .sub-menu > li > .sub-menu > li > a{padding-left: 30px;}

.mobile-menu .menu-row{display: none;}
.mobile-menu .menu-row.submenu-title{display: block;}

/* =============================================================================
   footer
   ========================================================================== */
a#ama{
	position: absolute;
	top: 0;
	right: 15px;
	color: #373737;
	font-size: 10px;
	line-height: 10px;
	font-family: 'Ubuntu Condensed', sans-serif;	
}