/**
* Typography & fonts
*/
$font-book: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-book-italic: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-medium: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-medium-italic:  'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-bold: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-bold-italic: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-black:  'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-black-italic: 'Helvetica Neue', Arial, Helvetica, sans-serif;

$heading-font: 'FFMaxWebPro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$heading-font-light: 'FFMaxWebProLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$heading-font-bold: 'FFMaxWebProDemiBold', 'Helvetica Neue', Arial, Helvetica, sans-serif;

$default-font-size: 16px;
$mobile-default-font-size: 14px;

$small-font-size: 14px;
$mobile-small-font-size: 12px;

$smallest-font-size: 12px;
$mobile-smallest-font-size: 10px;

$heading-line-height: 1.4em;
$paragraph-line-height: 1.5em;

$h1-size: 42px;
$h1-margin-bottom: 20px;

$h2-size: 32px;
$h2-margin-bottom: 10px;

$h3-size: 24px;
$h3-margin-bottom: 10px;

$h4-size: 18px;
$h4-margin-bottom: 10px;

$mobile-h1-size: 32px;
$mobile-h1-margin-bottom: 15px;

$mobile-h2-size: 24px;
$mobile-h2-margin-bottom: 20px;

$mobile-h3-size: 18px;
$mobile-h3-margin-bottom: 15px;

$mobile-h4-size: 16px;
$mobile-h4-margin-bottom: 5px;

$paragraph-margin-bottom: 15px;

$typo-padding-top: 15px;
$typo-padding-top-large: 30px;